<section>
  <div class="form-group">
    <label>{{localize "MYTHCRAFT.Roll.AttributeRoll.SituationalBonus.Label"}}</label>
    <div class="form-fields">
      <input type="text" name="situationalBonus" value="{{situationalBonus}}" placeholder="{{localize "MYTHCRAFT.Roll.AttributeRoll.SituationalBonus.Placeholder"}}">
    </div>
    <p class="hint">{{localize "MYTHCRAFT.Roll.AttributeRoll.SituationalBonus.Hint" formula=formula}}</p>
  </div>
</section>
