<section class="standard-form">
  <div class="form-group">
    <label>{{localize "MYTHCRAFT.Roll.Initiative"}}</label>
    <div class="form-fields">
      <span>{{awr}} + {{bonus}} = {{total}}</span>
    </div>
  </div>
</section>
