<div class="mythcraft chat-card damage-card">
  <div class="card-header">
    <h3>{{localize "MYTHCRAFT.Roll.Damage"}}</h3>
    <span class="damage-type">{{typeLabel}}</span>
  </div>
  <div class="card-body">
    <div class="roll-result">{{{rollHTML}}}</div>
    <div class="damage-total">{{total}}</div>
  </div>
</div>
