.mythcraft.actor {
  min-width: 600px;

  .window-content {
    padding-top: 0;
  }

  header {
    padding: 0.5rem 0;
    img {
      border: none;
      max-width: 100px;
      flex: 0 0 100px;
    }
    input[name="name"] {
      height: var(--font-h1-size);
      line-height: var(--font-h1-size);
      font-size: var(--font-h2-size);
    }
  }
  [data-application-part="stats"] {
    padding-top: 0.5rem;
    .core-stats {
      gap: 0.5rem;
      .hit-points, .death-points {
        flex-direction: row;
        justify-content: space-around;
      }
      .form-group.stacked {
        text-align: center;
        .form-fields {
          justify-content: center;
        }
      }
      .hit-points {
        flex-grow: 3;
      }
      .death-points {
        flex-grow: 2;
      }
    }
    .attributes {
      .attribute-group {
        flex-direction: row;
        align-items: stretch;
        &:first-child {
          margin-bottom: 1rem;
        }
        &:last-child {
          margin-top: 1rem;
        }
        .attribute-group-label {
          flex: 0 0 20px;
          writing-mode: sideways-lr;
          text-align: center;
        }
        .attribute-primary {
          .attribute-label {
            border: none;
            flex: 0 0 50%;
          }
          .attribute-defense {
            text-align: center;
            .form-fields {
              justify-content: center;
            }
          }
        }
      }
    }
    .exploration {
      align-items: stretch;
    }
  }

  .item-header, .item-list {
    .item-apc, .item-spc {
      flex: 0 0 50px;
      text-align: center;
    }
    .item-controls {
      text-align: right;
      flex: 0 0 120px;
      .item-control {
        text-align: center;
      }
    }

  }
  .item-header {
    gap: 5px;
    font-size: var(--font-size-16);
  }
  .item-list {
    list-style: none;
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
    .item-row {
      gap: 5px;
      img {
        flex: 0 0 40px;
        max-height: 32px;
      }
    }
  }

  [data-application-part="effects"] {
    ul {
      list-style: none;
      padding-left: 5px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .effects-header {
      font-size: var(--font-size-16);
      margin: 0.4em 0;

      .effect-duration {
        flex: 0 0 80px;
      }
      .document-controls {
        flex: 0 0 100px;
      }
    }
    .effect {
      margin: 0.25em 0;

      .effect-label {
        img {
          border: none;
          flex: 0 0 30px;
          padding-right: 5px;
        }
        .effect-name {
          line-height: var(--font-size-24);
        }
      }
      .effect-duration {
        flex: 0 0 100px;
      }
      .document-controls {
        flex: 0 0 80px;
      }
    }
    .effect-label {
      flex: 2;
    }
  }
  [data-application-part="biography"] {
    padding-top: 0.5rem;
  }
}
