.mythcraft.actor {
  min-width: 600px;

  .window-content {
    padding-top: 0;
  }

  [data-application-part="header"] {
    padding: 0.5rem 0;
    img {
      border: none;
      max-width: 100px;
      flex: 0 0 100px;
    }
    input[name="name"] {
      height: var(--font-h1-size);
      line-height: var(--font-h1-size);
      font-size: var(--font-h2-size);
    }
    .header-center {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .header-right {
      flex: 0 0 200px;
      padding-left: 1rem;
    }
    .actor-source {
      margin-top: 5px;
      font-family: var(--font-h4);
      font-size: var(--font-size-20);
      flex-grow: 0.8;
      align-items: start;
      text-align: center;
    }
  }
  [data-application-part="stats"] {
    padding-top: 0.5rem;
    .core-stats {
      gap: 0.5rem;
      .hit-points, .death-points {
        flex-direction: row;
        justify-content: space-around;
      }
      .form-group.stacked {
        text-align: center;
        .form-fields {
          justify-content: center;
        }
      }
      .hit-points {
        flex-grow: 3;
      }
      .death-points {
        flex-grow: 2;
      }
    }
    .damage-modification {
      dl {
        grid-template-columns: auto 1fr auto 1fr;
      }
    }
    .attributes {
      .attribute-group {
        flex-direction: row;
        align-items: stretch;
        &:first-child {
          margin-bottom: 1rem;
        }
        &:last-child {
          margin-top: 1rem;
        }
        .attribute-group-label {
          flex: 0 0 20px;
          writing-mode: sideways-lr;
          text-align: center;
        }
        dl.skills {
          grid-template-columns: auto 40px;
        }
      }
    }
    .exploration {
      align-items: stretch;
    }
  }

  .item-header, .item-list {
    .item-apc, .item-spc {
      flex: 0 0 50px;
      text-align: center;
    }
    .item-controls {
      text-align: right;
      flex: 0 0 140px;
      justify-content: flex-end;
      button.icon {
        border: none;
        &:not(:hover) {
          background: none;
        }
      }
    }
  }
  .item-header {
    gap: 5px;
    font-size: var(--font-size-16);
    .item-list + & {
      margin-top: 5px;
    }
    .item-name {
      flex-basis: 40px;
    }
    .item-uses {
      padding-left: 60px;
    }
  }
  .item-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
    .item-row {
      gap: 5px;
      img {
        flex: 0 0 40px;
        max-height: 32px;
        object-fit: contain;
      }
      .item-input.inline {
        width: 40px;
        text-align: right;
      }
    }
  }

  [data-application-part="features"] {
    padding-top: 0.5rem;
    prose-mirror {
      min-height: 130px;
    }
    .action .item-row {
      .item-uses {
        padding-left: 2.5rem;
      }
      .item-tier {
        margin-left: 2rem;
      }
    }
  }

  [data-application-part="spells"] {
    .attributes {
      margin: 0.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  [data-application-part="equipment"] {
    padding-top: 0.5rem;
    .currency {
      label, input {
        text-align: right;
      }
    }
    .item-row, .item-row {
      .item-apc {
        padding-left: 40px;
      }
      .item-quantity, .item-quantity {
        /* Centers under "Quantity" */
        padding-left: 40px;
      }
    }
  }

  [data-application-part="talents"] {
    padding-top: 0.5rem;
  }

  [data-application-part="effects"] {
    ul {
      list-style: none;
      padding-left: 5px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .effects-header {
      font-size: var(--font-size-16);
      margin: 0.4em 0;

      .effect-duration {
        flex: 0 0 80px;
      }
      .effect-controls {
        flex: 0 0 100px;
        justify-content: flex-end;
      }
    }
    .effect {
      margin: 0.25em 0;

      .effect-label {
        img {
          border: none;
          flex: 0 0 30px;
          padding-right: 5px;
        }
        .effect-name {
          line-height: var(--font-size-24);
        }
      }
      .effect-duration {
        flex: 0 0 100px;
      }
      .effect-controls {
        flex: 0 0 80px;
        justify-content: flex-end;
        button.icon {
          border: none;
          &:not(:hover) {
            background: none;
          }
        }
      }
    }
    .effect-label {
      flex: 2;
    }
  }
  [data-application-part="biography"] {
    padding-top: 0.5rem;

    .origins {
      button[data-document-class] {
        img {
          max-height: 20px;
        }
        max-width: 180px;
      }
    }
  }
}
