.mythcraft.item {
  min-width: 500px;

  .window-content {
    padding-top: 0;
  }

  [data-application-part="header"] {
    padding: 0.5rem 0;
    img {
      max-width: 100px;
    }
    input[name="name"] {
      height: var(--font-h1-size);
      line-height: var(--font-h1-size);
      font-size: var(--font-h2-size);
    }
  }
  [data-application-part="description"] {
    padding-top: 0.5rem;
  }
  [data-application-part="effects"] {
    ul {
      list-style: none;
      padding-left: 5px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .effects-header {
      font-size: var(--font-size-16);
      margin: 0.4em 0;

      .effect-duration {
        flex: 0 0 80px;
      }
      .document-controls {
        flex: 0 0 100px;
      }
    }
    .effect {
      margin: 0.25em 0;

      .effect-label {
        img {
          border: none;
          flex: 0 0 30px;
          padding-right: 5px;
        }
        .effect-name {
          line-height: var(--font-size-24);
        }
      }
      .effect-duration {
        flex: 0 0 130px;
      }
      .document-controls {
        flex: 0 0 80px;
      }
    }
    .effect-label {
      flex: 2;
    }
  }
}
